.ml-home-welcome-message {
  text-align: center;
  padding: 0 2rem;
  max-width: 1000px;
  margin: 0 auto 3rem;
}

.ml-home-menu {
  text-align: center;
}

.ml-home-menu-link {
  display: inline-flex;
  color: var(--light-shadow-color);
  cursor: pointer;
  margin: 0.3rem 1rem;
  align-items: center;
}

.ml-home-menu-link:hover {
  color: var(--text-color);
}

.ml-home-menu-icons {
  margin-right: 0.3rem;
}

.ml-home-search {
  text-align: center;
  margin: 2rem 0;
}

@media (max-width: 1000px) {
  .ml-home-search {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .ml-home-welcome-message {
    font-size: 1rem;
  }
}
