.ml-single-loaded {
  animation: fadein 1s;
}

.ml-single-header {
  display: grid;
  grid-column-gap: 10%;
  grid-template-columns: 40% 50%;
}

.ml-single-poster {
  width: 100%;
}

.ml-single-info {
  text-align: justify;
}

.ml-single-name {
  background-color: var(--contrast-color);
  padding: 0.5rem 1rem;
  margin: 0;
  font-weight: 400;
  line-height: 1;
}

.ml-single-release-year {
  font-size: 1rem;
}

.ml-single-content {
  padding: 1rem 0;
  color: var(--light-shadow-color);
}

.ml-single-tagline {
  text-align: center;
  font-style: italic;
  font-size: 0.8rem;
  margin: 1rem 0;
  letter-spacing: 0.15rem;
}

.ml-single-biography,
.ml-single-overview {
  margin: 2rem 0;
}

.ml-single-known-for,
.ml-single-poster-images,
.ml-single-videos {
  margin: 2rem 0;
}

.ml-single-known-for-title,
.ml-single-poster-images-title,
.ml-single-videos-title {
  margin: 2rem 0;
}

.ml-single-known-for-items,
.ml-single-poster-images-items,
.ml-single-videos-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 1rem;
  justify-items: center;
}

.ml-single-known-for-item {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  text-decoration: none;
  box-shadow: 0px 0px 5px 2px var(--dark-shadow-color);
  padding: 1rem;
  color: var(--light-shadow-color);
}

.ml-single-known-for-item:hover {
  box-shadow: 0px 0px 5px 6px var(--dark-shadow-color);
}

.ml-single-image {
  cursor: pointer;
  width: 100%;
}

.ml-single-video {
  width: 100%;
  padding-top: 75%; /* 4:3 Aspect Ratio */
  position: relative;
}

.ml-single-video-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: none;
}

.ml-single-known-for-poster {
  width: 5rem;
}

.ml-single-action-icons {
  margin-top: 2rem;
  cursor: pointer;
}

.ml-single-action-icon {
  margin-right: 1rem;
  color: var(--dark-shadow-color);
}

.ml-single-action-icon-active {
  color: var(--text-color);
}

.ml-single-button-holder {
  text-align: center;
  margin-bottom: 4rem;
}

@media (max-width: 1000px) {
  .ml-single-header {
    grid-column-gap: 0;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}
