.ml-back-button {
  display: flex;
  align-items: center;
  color: var(--text-color);
  cursor: pointer;
  margin-bottom: 2rem;
  width: max-content;
}

.ml-back-button:hover {
  color: var(--light-shadow-color);
}

@media (max-width: 600px) {
  .ml-back-button {
    margin-bottom: 1rem;
  }
}
