.ml-button {
  width: 10rem;
  height: 2.5rem;
  background-color: var(--light-shadow-color);
  color: var(--text-color);
  font-size: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.ml-button:disabled {
  background-color: var(--dark-shadow-color);
  color: var(--light-shadow-color);
  cursor: not-allowed;
}

.ml-button:hover {
  background-color: var(--dark-shadow-color);
}
