.ml-card {
  margin: 4% 2%;
  box-shadow: 0px 0px 5px 2px var(--dark-shadow-color);
  position: relative;
  animation: fadein 1s;
}

.ml-card-poster {
  width: 100%;
}

.ml-card-title {
  background-color: var(--contrast-color);
  padding: 0.5rem 1rem;
  margin: 0;
  font-weight: 400;
  line-height: 1;
}

.ml-card-release-year {
  font-size: 1rem;
}

.ml-card-content {
  padding: 1rem 1rem 4rem 1rem;
  color: var(--light-shadow-color);
}

.ml-card p {
  margin: 0.3rem 0;
}

.ml-card-overview {
  margin: 2rem 0 1rem 0;
}

.ml-card-known-for-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33.3%, 1fr));
  margin-top: 1rem;
}

.ml-card-known-for-item {
  margin: 2%;
  text-align: center;
}

.ml-card-read-more-link {
  position: absolute;
  left: 1rem;
  bottom: 2rem;
  text-decoration: none;
  color: var(--text-color);
  font-style: italic;
  font-size: 0.8rem;
}

.ml-card-action-icons {
  display: flex;
  position: absolute;
  right: 1rem;
  bottom: 2rem;
  cursor: pointer;
}

.ml-card-action-icon {
  margin-left: 1rem;
  color: var(--dark-shadow-color);
}

.ml-card-action-icon-active {
  color: var(--text-color);
}

@media (max-width: 600px) {
  .ml-card {
    margin-bottom: 10%;
  }
}
