.ml-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  padding: 1rem 0 3rem 0;
}

.ml-tmdb-logo {
  width: 100%;
  min-width: 13rem;
  max-width: 25%;
  padding: 1rem 1rem 0 0;
}

.ml-app-creator {
  padding: 1rem 0 0 0;
  color: var(--light-shadow-color);
}