.ml-app {
  position: relative;
  height: 100vh;
  display: flex;
  flex-flow: column;
  margin: auto;
  padding: 0 4rem;
  max-width: var(--max-width);
}

.ml-main-content {
  flex: 1;
  margin: 4rem 0;
}