.ml-app {
  position: relative;
  height: 100vh;
  display: flex;
  flex-flow: column;
  margin: auto;
  padding: 0 4rem;
  max-width: var(--max-width);
}

.ml-main-content {
  flex: 1;
  margin: 4rem 0;
}

@media (max-width: 1000px) {
  .ml-app {
    padding: 0 2rem;
  }

  .ml-main-content {
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .ml-app {
    padding: 0 0.5rem;
  }

  .ml-main-content {
    margin-top: 2rem;
  }
}