:root {
  --main-bg-color: #19171A;
  --dark-shadow-color: #45433E;
  --light-shadow-color: #959794;
  --text-color: #FFFFFF;
  --contrast-color: #E9322E;
  --max-width: 1400px;
  --header-height: 4rem;
  --footer-height: 4rem;
}

html {
  font-size: 18px;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}